numpy==1.23.5
opencv-python-headless==4.8.0.74
# torch==1.13.1+cpu  # Example version for PyTorch CPU-only
# torchvision==0.13.1+cpu  # Corresponding version for torchvision
# ultralytics==8.0.20  # YOLOv8, adjust as needed
